{% extends "homee.html" %}

{% block title %} {{ content.title }} {% endblock %}
{% block keywords %} {{ content.keywords }} {% endblock %}
{% block description %} {{ content.description }} {% endblock %}
{% block author %} ANAHTAR AR {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block content %}
{% load static %}

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Ana sayfa</a></li>
            <li><a href="/{{ content.type }}"> / {{ content.type }}</a></li>

            <li class="active"> / {{ content.title }}</li>
        </ul>

    </div>
</div>



<div class="row"><!--Container row-->

    <div class="span8 blog">


        <!-- Blog Post 1 -->
        <article>

            <div class="post-content">


                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="{{  content.image.url }}" style="height: 300px " alt="slider"/></li>
                    </ul>
                </div>


                <div class="post-body">
                    <blockquote>
                        {{ content.detail | safe }}
                    </blockquote>
                </div>
                <div class="row clearfix">
                    <ul class="gallery-post-grid holder">


                        <!-- Gallery Item 2 -->
                        {% for rs in images %}
                        <li class="span2 gallery-item" data-id="id-3" data-type="web">
                        <span class="gallery-hover-6col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="{{ rs.image.url }}" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a class="item-details-link"></a>
                            </span>
                        </span>
                            <a href="gallery-single.htm"><img src="{{ rs.image.url }}" style="height: 140px"
                                                              alt="Gallery"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="post-summary-footer">
                    <ul class="post-data">
                        <li><i class="icon-calendar"></i> {{ content.create_at }}</li>
                        <li><i class="icon-user"></i> {{ content.user.first_name }}</li>

                        </li>
                    </ul>
                </div>
            </div>
        </article>


        <!-- Post Comments
        ================================================== -->
        <section class="comments">
            <h4 class="title-bg"><a name="comments"></a>YORUMLAR</h4>
            <ul>
                {%for rs in comments%}
                <li>

                    <span class="comment-name">{{  rs.user.first_name }}</span>
                    <span class="comment-date"> <a>  {{  rs.create_at }}| Puan>{{  rs.rate }}</a></span>
                    <br><br>
                    <span class="comment-content"><strong>{{  rs.subject }}</strong></span>
                    <div class="comment-content">{{ rs.comment }}
                    </div>
                </li>
                {% endfor %}


            </ul>

            <!-- Comment Form -->
            <div class="comment-form-container">
                <h6>Yorum Yap</h6>

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <form id="contact-form" action="/content/addComment/{{ content.id }}/" method="post">
                    {% csrf_token %}
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-info-sign"></i></span>
                        <input name="subject" class="span4" id="prependedInput" size="16" type="text"
                               placeholder="SUBJECT">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class=" icon-ok-circle"></i></span>
                        <input name="rate" class="span4" id="prependedInput" size="16" type="text"
                               placeholder="RATE">
                    </div>
                    <textarea name="comment" class="span6"></textarea>
                    {% if user.id is not None %}
                    <div class="row">
                        <div class="span2">
                            <input type="submit" class="btn btn-inverse" value="Send Message">
                        </div>
                    </div>
                    {% else %}
                    Yorum Eklemek İçin Login Olunuz!
                    {% endif %}
                </form>
            </div>
        </section><!-- Close comments section-->

    </div><!--Close container row-->

    <!-- Blog Sidebar
    ================================================== -->
    <div class="span4 sidebar">
        <h5 class="title-bg">SON PAYLAŞILAN DUYURULAR</h5>
        <ul class="popular-posts">
            {% for rs in content2 %}
            <li>
                <a href="/anons/{{ rs.id }}/{{ rs.slug }}"><img src="{{  rs.image.url }}" style="height: 50px"
                                                                alt="Popular Post"></a>
                <h6><a href="/anons/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a><br>
                    <em>{{ rs.create_at }}</em></h6>
            </li>
            {% endfor %}

        </ul>
        <h5 class="title-bg">SON PAYLAŞILAN ETKİNLİKLER</h5>
        <ul class="popular-posts">
            {% for rs in etkinlik2 %}
            <li>
                <a href="/anons/{{ rs.id }}/{{ rs.slug }}"><img src="{{  rs.image.url }}" style="height: 50px"
                                                                alt="Popular Post"></a>
                <h6><a href="/anons/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a><br>
                    <em>{{ rs.create_at }}</em></h6>
            </li>
            {% endfor %}

        </ul>
    </div>

</div>

<!-- End Container -->

{% endblock %}

