{% extends "homee.html" %}

{% block title %} Etkinlikler  {% endblock %}

{% block author %} ANAHTAR AR {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}
{% block content %}
{% load static %}
<!-- MAIN -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Ana sayfa</a></li>
            <li class="active"> / Etkinlikler</li>
        </ul>

    </div>
</div>

<div class="row">


    <!-- Blog Posts
    ================================================== -->
    <div class="span8 blog">

        <!-- Blog Post 1 -->
        {% for rs in content %}
        <article class="clearfix">
            <a href="/anons/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="height:140px"
                                                            alt="Post Thumb"
                                                            class="align-left"></a>
            <h4 class="title-bg">{{ rs.title }}</h4>
            <p> {{ rs.description }}.. </p>
            <a href="/anons/{{ rs.id }}/{{ rs.slug }}">
                <button class="btn btn-mini btn-inverse" type="button">Devamı...</button>
            </a>
            <div class="post-summary-footer">
                <ul class="post-data-3">
                    <li><i class="icon-calendar"></i> {{ rs.create_at }}</li>


                </ul>
            </div>
        </article>
        {% endfor %}


    </div>

    <!-- Blog Sidebar
    ================================================== -->
    <div class="span4 sidebar">


        <!--Tabbed Content-->
        <h5 class="title-bg">Karışık Yorumlar</h5>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#comments" data-toggle="tab">Yorumlar</a></li>

        </ul>

        <div class="tab-content">
            {% for rs in comments %}
            <div class="tab-pane active" id="comments">
                <ul>
                    <i class="icon-comment"></i><b>{{ rs.user.first_name }}</b> {{ rs.comment }}


                </ul>
                <hr class="color-bar-2 color-bg">
            </div>
            {% endfor %}
        </div>
    </div>

</div>

</div> <!-- End Container -->


</div> <!-- End Container -->


{% endblock %}

<section class="comments">
    <h4 class="title-bg"><a name="comments"></a>YORUMLAR</h4>
    <ul>
        {%for rs in comments%}
        <li>
            <img src="{% static 'img/user-avatar.jpg'%}" alt="Image"/>
            <span class="comment-name">{{  rs.user.first_name }}</span>
            <span class="comment-date"> <a>  {{  rs.create_at }}| Puan>{{  rs.rate }}</a></span>
            <div class="comment-content">{{ rs.comment }}
            </div>
        </li>
        {% endfor %}


    </ul>

    <!-- Comment Form -->
    <div class="comment-form-container">
        <h6>Yorum Yap</h6>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <form id="contact-form" action="/content/addComment/{{ content.id }}/" method="post">
            {% csrf_token %}
            <div class="input-prepend">
                <span class="add-on"><i class="icon-info-sign"></i></span>
                <input name="subject" class="span4" id="prependedInput" size="16" type="text"
                       placeholder="SUBJECT">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class=" icon-ok-circle"></i></span>
                <input name="rate" class="span4" id="prependedInput" size="16" type="text"
                       placeholder="RATE">
            </div>
            <textarea name="comment" class="span6"></textarea>
            {% if user.id is not None %}
            <div class="row">
                <div class="span2">
                    <input type="submit" class="btn btn-inverse" value="Send Message">
                </div>
            </div>
            {% else %}
            Yorum Eklemek İçin Login Olunuz!
            {% endif %}
        </form>
    </div>
</section><!-- Close comments section-->