{% extends "homee.html" %}

{% block title %} Duyurularım {% endblock %}

{% block author %} ANAHTAR AR {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' xmlns="http://www.w3.org/1999/html"/>

{% load static %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jguery.min.js"></script>
{% endblock %}
{% block content %}
{% load static %}
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Ana sayfa</a></li>
            <li><a href="/user"> / Kullanıcı</a></li>
            <li class="active"> / İçeriklerim</li>
        </ul>

    </div>
</div>

<div class="row">

    <!-- Contact Form -->
    <div class="span8 contact">
        <div class="section-title">
            <h3 class="title-bg">Duyuru Ve Etkinliklerim</h3>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% for rs in contents%}
            <a href="/user/contentedit/{{ rs.id }}">
                <button type="button">Düzenle</button>
            </a>

            <a href="/user/contentaddimage/{{ rs.id }}">
                <button type="button">Galeri</button>
            </a>


            <br>


            <br><br>
            <img src="{{ rs.image.url }}" style="height:50px"> <a
                href="/anons/{{ rs.id }}/{{ rs.slug }}">Önizleme</a><br><br>
            <b>Ad:</b> {{ rs.title }}<br>
            <b>Tipi:</b> {{ rs.type }}<br>
            <b>Yayınlanma durumu:</b> {{ rs.status }}<br>
            <b>Başlık:</b> {{ rs.description }}<br>
            <b>Tarih:</b> {{ rs.create_at }}<br><br>
            <a class="btn btn-small btn-inverse" href="/user/deleteContent/{{ rs.id }}"
               onclick="return confirm('Silmek İstediğine Eminmisiniz!!')">Kaldır</a>
            <hr class="color-bar-2 color-bg">


            {% endfor %}


        </div>

    </div>
    <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
        <h3 class="title-bg"></h3>
        <ul class="post-category-list">
            {% include "userProfileYan.html" %}
            <a href="/user/update">
                <button class="btn btn-small btn-inverse" type="button">Profil Güncelle</button>
            </a>
            <a href="/user/password">
                <button class="btn btn-small btn-inverse" type="button">Şifre Değiştirme</button>
            </a>
        </ul>


    </div>


</div><!-- End container row -->


{% endblock %}

