{% load static %}


<div class="input-prepend">

    <span class="add-on"><i class="icon-user"></i>{{ user.first_name }}</span>


</div>


<hr class="color-bar-2 color-bg">

<ul class="post-category-list">
    <li><a href="/user"><i></i>Profilim</a></li>
    <li><a href="/user/contents"><i></i>İçeriklerim</a></li>
    <li><a href="/content/addContent/"><i></i>İçerik Ekle</a></li>
    <li><a href="/user/comments"><i></i>Yorumlarım</a></li>

</ul>
<hr class="color-bar-2 color-bg">
<a href="/logout/">
    <button class="btn btn-small btn-inverse" type="button">Çıkış Yap</button>
</a>

